.container-poltronas{
	 background-repeat: no-repeat;
	 width: 1000px; 
	 height: 400px; 
	 padding-top: 26px;
}

.btn-toolbar{
	margin-left:300px;
}

.btn-mini{
	width: 28px;
	height: 30px;
}

.btn-classe{
	background-color: red;
	border-color: red;
	color: #fff;
}

.container-classe{
	margin-left: 274px;
}

.group-executive{
	background-color: green;
	border-color: green;
	color: #ffffff;
}

.group-economic{
	background-color: #367fa9;
	border-color: #367fa9;
	color: #ffffff;
}

.btn-group-executive{
	width: 164px;
}

.btn.nohover:hover {
    /* here copy default .btn class styles */
    cursor:default !important;
    background-color: none;
    color: #ffffff;
    /* or something like that */
}


.fa-user:before {
    margin-left: -3px !important;
}

.nr-poltrona{
	color:#008D4C
}